@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins.scss";
@import "modules/landing";
// @import "modules/sb-admin.css";
@import "modules/admin.scss";
@import "modules/layout.scss";
@import "modules/shop.scss";
@import "modules/item.scss";
@import "modules/cart.scss";

@import "modules/maybe.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.95em;
}

a,
a:hover,
a:visited {
  color: rgba(227, 137, 23, 1);
  text-decoration: none;
}

h1 {
  text-shadow: 1px 1px #ccc, 2px 2px #ccc, 3px 3px #ccc;
}

li {
  list-style: none;
}

.btn-small {
  display: inline-block;
  width: 160px;
  text-decoration: none;
  border-radius: 20px;
  background-color: rgba(227, 137, 23, 1);
  color: #fff;
  transition: border .2s, background-color .2s, color .2s;
}

.btn-small:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(227, 137, 23, 1);
}
