.blog {
  .content-container {
    margin: 100px auto;
    #content {
      margin-bottom: 100px;
      .post-container {
        img {
          display: block;
          width: 60%;
          margin: 0 auto;
        }
        pre {
          font-size: 1.4em;
          display: block;
          width: 60%;
          margin: 0 auto;
          border: none;
          font-family: 'Lato', sans-serif;

        }
      }
    }
  }
}
