@include computer {
  .item-page {
    .item-display {
      width: 50%;
      height: auto;
      box-sizing: content-box;
      margin: 100px auto 100px;
      padding: 50px 40px 50px;
      border: 0.5px solid #ccc;
      .item-picture {

        width: 55%;
        display: block;
        float: left;
        .default-image {
          width: 100%;
          height: auto;
          display: block;
          margin: 15px auto 50px;
          border-radius: 25px;
          -webkit-box-shadow: 10px 10px 5px 0px #ccc;
          -moz-box-shadow: 10px 10px 5px 0px #ccc;
          box-shadow: 10px 10px 5px 0px #ccc;
          transition: transform, .4s, width, .4s;
          cursor: zoom-in;
        }
        .item-thumbs {
          width: 28%;
          margin: 0 2.6%;
          max-height: auto;
          display: block;
          float: left;
          position: relative;
          img {
            position: relative;
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: 50px;
            cursor: pointer;
            border-radius: 25px;
          }
        }
        .blow-up-image {
          position: absolute;
          z-index: +200;
          transform: translateY(-73%) translateX(-200%);
          width: 50%;
          height: auto;
          opacity: 0;
          transition: all 0.4s;
          &.fadeInLeft {
            transform: translateX(-68%) translateY(-73%);
            opacity: 1;
          }
        }
      }
      .item-details {
        width: 45%;
        height: auto;
        display: block;
        float: left;
        margin: 100px 0 40px;
        font-size: 2em;
        padding-bottom: 50px;
        color: #000;
        label {
          color: rgba(227, 137, 23, 0.8);
        }
        .option-selectors {
          width: 100%;
          height: auto;
          display: block;
          float: left;
          position: relative;
          label {
            padding-right: 20px;
          }
          .quantity {
            width: 100%;
            margin: 20px auto;
            height: auto;
            display: block;
            float: left;
            select {
              -webkit-appearance: none;
              -moz-appearance: none;
              border: none;
              width: 50px;
              padding-left: 20px;
            }
            i {
              color: darkorange;
            }
          }
          .color-selector {
            width: 100%;
            margin: 20px auto;
            height: auto;
            display: block;
            float: left;
          }
          .add {
            width: 100%;
            height: auto;
            display: block;
            float: left;
            padding: 10px 0 20px;
          }

        }
        //option-selectors

      }
      //item-details

      .description {
        width: 80%;
        margin: 0 auto;
        padding-top: 5px;
        pre {
          border-top: 1px solid darkorange;
          background-color: inherit;
          font-family: 'Lato', sans-serif;
          font-size: 1.2em;
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word;
          overflow: hidden;
        }
      }

    }
    //item-display
  }
  //item-page
}

@include tablet {
  .item-page {
    .item-display {
      width: 80%;
      height: auto;
      .item-picture {
        width: 100%;
        .default-image {
          width: 75%;
        }
        .item-thumbs {

          img {

          }
        }
        .blow-up-image {
          width: 95%;
          transform: translateY(-73%) translateX(-200%);
          &.fadeInLeft {
            transform: translateX(-50%) translateY(-73%);
          }
        }
      }
      .item-details {
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 0;
        label {
        }
        .option-selectors {

          label {

          }
          .quantity {

            select {

            }
            i {

            }
          }
          .color-selector {
            margin: 0;
          }
          .add {

          }

        }
        //option-selectors

      }
      //item-details

      .description {

        pre {

        }
      }

    }
    //item-display
  }
  //item-page
}
