.shop {
  position: relative;
  height: auto;
  display: block;

  #item-thumbnail {
    height: 375px;
    margin: 10px 15px;
    text-align: center;
    opacity: 0.9;
    color: rgba(42, 100, 60, 1);
    border: none;
    // transition: color 0.5s, opacity 0.2s, border 0.2s, box-shadow: 0.2s;

    .thumbnail-content-container {
      margin: 0 auto 15px auto;

      .btn-small {
        font-size: 1.5em;
        width: 140px;
        height: 30px;
      }

      .thumbnail-image {
        display: block;
        width: 100%;
        margin: 15px auto;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          transform: translateY(-20px);
        }
      }
    }

  }
}
