@include computer {
  .shop {
    position: relative;
    height: auto;
    display: block;
    .product-display {
      width: 80%;
      display: block;
      margin: auto;
      .side-nav {
        font-size: 1.6em;
      }
      #item-thumbnail {
        margin: 10px 0;
        height: 275px;
        opacity: 0.9;
        color: rgba(42, 100, 60, 1);
        position: relative;
        // transition: color 0.5s, opacity 0.2s, border 0.2s, box-shadow: 0.2s;
        .thumbnail-content-container {
          margin: 0 auto;
          position: relative;

          .thumbnail-image {
            display: block;
            width: 100%;
            z-index: 20;
            margin: 15px auto;
            overflow: hidden;
            position: relative;

            img {
              width: 80%;
              max-height: 175px!important;
              display: block;
              margin: 0 auto;

            }
          }
        }
        .btn-small {
          position: relative;
          bottom: 0;
          left: 0;
          width: 75%;
          height: 40px;
          border-radius: 0;
          font-size: 2em;
        }//btn-small
      }//item-thumbnail
    }
  }
}

@include smallPhone {
  .product-display {
    width: 100%!important;
    margin: 20px auto;
    .row {
      width: 100%;
    }
    .product_categories {
      h1 {
        font-size: 1.9em;
      }
      .side-nav {

        font-size: 2.2em;
        li {
          position: relative;
          z-index: 20;
          padding: 6px 0;
        }
      }
    }
    .thumbnail-image {
      width: 75%;
      margin: 0 auto;
      display: none;
    }
  }

}

@include tablet {
  .product-display {
    width: 100%!important;
    margin: 20px auto;
    .row {
      width: 100%;
    }
    .product_categories {
      h1 {
        font-size: 1.9em;
      }
      .side-nav {
        font-size: 2.2em;

          li {
            padding: 15px 0;
          }

      }
    }
    .thumbnail-image {
      width: 75%;
      margin: 0 auto;
      display: none;
    }
  }
}
